{% extends 'base.html' %}

{% block content %}
    
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About Us</h2>
      </div>

      <div class="row content">
        <div class="col-lg-6">
          <p>
            With more than 22 years of experience in this field, our main focus is to provide quality service to our customers.
            It includes some of the points mentioned below 
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i> Quality Assurance</li>
            <li><i class="ri-check-double-line"></i> In-time Service Provided</li>
            <li><i class="ri-check-double-line"></i> Customer Satisfaction</li>
          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            Our goal is to create signature images that will bring joy to you, your family and friends 
            through a smile or even a tear. Our intention is to do an exceptional job for each and every client.
          </p>
          
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us section-bg ">
    <center>
    <div class="container-fluid " data-aos="fade-up">

      

        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

          <div class="content">
            <center><h3>Why choose us</h3></center>
            <p>
              With over hundreds of options available in the market, why prefer our services?
            </p>
          </div>

          <div class="accordion-list">
            <ul>
              <li>
                <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"> Quality & Experience <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                  <p>
                    Our goal is to assure that a client’s expectations are not only met but exceeded. We strive for 
                    this on all events from the most intimate to the most elaborate, no shortcuts, no exceptions. 
                    Each event is equally important.
                  </p>
                </div>
              </li>

              <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"> Integrity <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    For over 22 years we have stood behind what we do! They are satisfied customers that continue 
                    to refer us to friends and family, which is one of the highest levels of appreciation. 
                  </p>
                </div>
              </li>

              <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"> Affordability <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    We offer a wide variety of options for almost any budget. We would love the opportunity 
                    to sit with you to compare the best options for your event.
                  </p>
                </div>
              </li>

            </ul>
          </div>

        </div>
      
      

    </div>
  </center>
  </section><!-- End Why Us Section -->


{% endblock %}