{% extends 'base.html' %}

{% block content %}

<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Services</h2>
        <p>Our services include</p>
      </div>

      <div class="row">
        <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            
            <h4><a href="">Instant Photocopies</a></h4>
            <p>Get passport/visa photos instantly within 5-10 minutes.</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            
            <h4><a href="">Wedding/Party Photoshoots</a></h4>
            <p>One of the speciality that we provide in these ceremonies is potrait photography.</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            
            <h4><a href="">Candid Photography</a></h4>
            <p>One of our specialities, especially in wedding ceremonies or parties.</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            
            <h4><a href="">Videograpghy</a></h4>
            <p>High quality video recording, along with video editing is provided to our customers.</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->


{% endblock %}